body {
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    color: white
}

nav {
    background-color:white;
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    
}
